@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.App {
  text-align: center;
}

.App-content {
  padding: 20px;
}

.App-header {
  height: 50px;
  padding: 20px;
  float: top;
}

.hamburger-menu {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  text-decoration: none;
  color: black;
  float: left;
  margin: 0;
}

.name-header {
  font-family: 'Josefin Sans', sans-serif;
  float: right;
  margin: 0;
  padding-top: 10px;
}
