@import url('https://fonts.googleapis.com/css?family=Padauk|Josefin+Sans');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a, a:link, a:visited, a:focus, a:active{
  color: gray;
  text-decoration: none;
}

a:hover {
  color: #494949;
}

h2 {
  font-family: 'Padauk', sans-serif;
  color: #494949;
  font-size: 25px;
}
