.SidebarContent {
  height: 100%;
  background-color: white;
  width: 256;
  padding: 20px;
}

.SidebarContent-header {
  font-family: 'Josefin Sans', sans-serif;
}

.SidebarContent-link: {
  display: block;
  padding: 16px 0px;
  color: #757575;
  text-decoration: none;
}

.SidebarContent-divider: {
  margin: 8px 0;
  height: 1;
  background-color: #757575;
}
