.SidebarContent {
  height: 100%;
  background-color: white;
  width: 256;
  padding: 20px 40px 20px 40px;
}

.SidebarContent-header {
}

.SidebarContent-link {
  font-family: 'Padauk', sans-serif;
  font-size: 18px;
  text-align: left;
  padding-left: 7px;
}

.SidebarContent-divider {
  margin: 8px 0;
  height: 1;
  background-color: #757575;
}
